#inicio {  
    background-color: rgb(226, 138, 7);
text-align: center;
font-size: larger ;
color: rgb(159, 96, 0);
height: 140px;
align-items: last baseline;


}

#titulo {
    padding: 50px;

}

#menu a
{




}